@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body#tinymce.wp-editor { 
    font-family: 'Open Sans', Trebuchet MS, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 10px; 
}

body#tinymce.wp-editor a {
    color: black;
}
